.Wrapper button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border-radius: 2em;
    border: none;
    margin: 0.3em;
}

.Wrapper button:hover {
    cursor: pointer;
}

.Wrapper {
    background-color: rgb(7, 6, 6);
    padding: 1em;
    border-radius: 1em;
}

.Orange {
    background-color: #FF9500;
    color: white;
}

.Gray {
    background-color: #505050;
    color: white;
}

.Zero {
    padding: 0em 5em 0em 1.5em ;
}

.Result {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.8em;
    font-size: 3em;
    padding-top: 1em;
}